<div *ngIf="displayRepository">
  Repository Name : <input type="text" [(ngModel)] = "repoName">
  Repository URL : <input type="text" [(ngModel)] = "url">
  <button (click)="add()">Add Repository</button>

  <table id="dataTable" class="repositoryTable" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let repository of repositories">
        
          <td>{{ repository.id }}</td>
          <td>{{ repository.name }}</td>
          <td>{{ repository.url }}</td>
          <a (click)="changeDisplayRepository()" [routerLink]="['/project-list', repository.id]">View Packages</a>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>